$fa-font-path: '../fonts/awesome';

@import 'bootstrap/scss/bootstrap.scss';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

// TODO: Configure Markdown parser to emit CSS class attribute.
pre {
  background-color: #eee;
}

.cl-blog-article {
  font-family: 'Linux Libertine', 'Times New Roman', Cambria, serif;
  font-size: x-large;
}

figure.cl-figure-nice {
  background-color: #fff;
  padding: 5px;
  font-size: .875em;
  display: table;
}

figure.cl-figure-nice img {
  display: block;
  width: 100%;
  max-height: 600px;
}

figure.cl-figure-nice figcaption {
  display: table-caption;
  caption-side: bottom;
  background: #fff;
  padding: 0 5px 5px;
  font-size: 90%;
  color: #6c757d;
}
