<% wrap_layout :layout do %>
  <div class="container mt-4">
    <h1><%= current_page.title %></h1>

    <p>
      <small class="text-muted">
        <%= I18n.localize current_page.date, format: :long %>
      </small>

      <% current_page.tags.each do |tag| %>
        <span class="badge badge-secondary ml-2">
          <%= tag %>
        </span>
      <% end %>
    </p>

    <article class="mt-5">
      <%= yield %>
    </article>
  </div>
<% end %>
