<% wrap_layout :layout do %>
  <article class="container mt-4 mb-5">
    <header>
        <h1><%= current_page.title %></h1>

        <p>
          <%= partial 'blog/date_and_tags',
                      locals: { date: current_page.date,
                                tags: current_page.tags } %>
        </p>
    </header>

    <div class="cl-blog-article mt-5">
      <%= yield %>
    </div>
  </article>
<% end %>
