<small class="text-muted">
  <time datetime="<%= date.iso8601 %>">
    <%= I18n.localize date, format: :long %>
  </time>
</small>

<% tags.each do |tag| %>
  <span class="badge badge-secondary ml-2">
    <%= tag %>
  </span>
<% end %>
