---
title: ~Blog
pageable: true
per_page: 10
---
<div class="container my-4">
  <div class="mb-4">
    <%= partial 'pagination' %>
  </div>

  <% page_articles.each do |article| %>
    <div class="mt-4">
      <%= partial 'article_card', locals: { article: article } %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= partial 'pagination' %>
  </div>
</div>
