---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= I18n.translate :title %></h1>
    <p class="lead"><%= I18n.translate :summary %></p>
  </div>
</div>

<div class="container">
  <% data.glossary.each do |term| %>
    <p>
      <% term.names.each_with_index.reverse_each do |name, index| %>
        <strong><%= name %></strong><%= ',' unless index.zero? %>
      <% end %>
    </p>
  <% end %>
</div>
