---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>
      <%= I18n.translate :title %>
      <br/>
      <small class="text-muted">
        <%= I18n.translate :summary %>
      </small>
    </h1>
  </div>
</div>
