---
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1><%= I18n.translate :title %></h1>
    <p class="lead"><%= I18n.translate :summary %></p>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <% link_to 'https://t.me/crypto_libertarian' do %>
      <i class="fab fa-telegram"></i>
      Канал в Telegram
    <% end %>
  </div>
</div>
