---
title: ~library
---
<div class="container mt-4">
  <ul>
    <% data.library.each do |library_item| %>
      <li>
        <% link_to "/library/#{library_item.id}.html" do %>
          <% if library_item.authors.present? %>
            <%= library_item.authors %>
            -
          <% end %>

          <%= library_item.title.presence or raise %>

          <% if library_item.year.present? %>
            (<%= library_item.year %>)
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
