---
---
<div class="container mt-5">
  <h1><%= translate 'manifesto.title' %></h1>

  <div class="card mt-5">
    <div class="card-body">
      <h2 class="card-title">
        <%= translate 'manifesto.ethical_position.title' %>
      </h2>
      <p class="card-text lead">
        <%= translate 'manifesto.ethical_position.text' %>
      </p>
      <% link_to translate('manifesto.ethical_position.link_url'),
                 class: 'card-link',
                 target: :_blank do %>
        <%= translate :learn_more %>
        <i class="fas fa-external-link-alt"></i>
      <% end %>
    </div>
  </div>
</div>
