---
---
<div class="container mt-5">
  <h1><%= translate 'manifesto.title' %></h1>

  <%= partial 'manifesto_card', locals: {
        title: translate('manifesto.ethical_position.title'),
        text: translate('manifesto.ethical_position.text'),
        link_url: nil,
  } %>

  <%= partial 'manifesto_card', locals: {
        title: translate('manifesto.state.title'),
        text: translate('manifesto.state.text'),
        link_url: nil,
  } %>

  <%= partial 'manifesto_card', locals: {
        title: translate('manifesto.alternative_to_the_state.title'),
        text: translate('manifesto.alternative_to_the_state.text'),
        link_url: nil,
  } %>
</div>
