---
---
<div class="container mt-5">
  <h1><%= translate 'manifesto.title' %></h1>

  <%= partial 'manifesto_card', locals: {
        title: translate('manifesto.ethical_position.title'),
        text:  translate('manifesto.ethical_position.text'),
        link_url: translate('manifesto.ethical_position.link_url'),
  } %>
</div>
