---
title: ~Rules
---
<div class="container mt-4">
  <h1><%= translate :Rules %></h1>

  <h2>Правила сервиса</h2>

  <p class="lead">
    Данные правила распространяются на все проекты. Никакая информация,
    размещаемая на наших серверах, не должна нарушать эти правила.
  </p>

  <p>Разрешено всё, кроме следующего:</p>

  <ol>
    <li>
      Призывать к неинституционализированному агрессивному насилию.
      <br/>
      <small class="text-muted">
        Этот пункт не запрещает рассуждения об институционализированном насилии,
        таком как сбор налогов или смертная казнь.
      </small>
    </li>

    <li>
      Демонстрировать издевательств над людьми и животными не в информационных
      целях.
      <br/>
      <small class="text-muted">
        К информационным целям относится, например, публикация новостей.
      </small>
    </li>

    <li>
      Публиковать материалы порнографического характера.
      <br/>
      <small class="text-muted">
        Порнограция характеризуется демонстрацией половых органов. Этот пункт
        не запрещает, например, произведения искусства.
      </small>
    </li>

    <li>
      Публиковать материалы эротического характера с участием
      несовершеннолетних.
      <br/>
      <small class="text-muted">
        Эротика включает в себя порнографию, то есть демонстрацию половых
        органов, но не ограничивается ею.
      </small>
    </li>

    <li>
      Демонстрировать грязные физиологические субстанции, процессы и органы,
      как человеческие, так и животные.
      <br/>
      <small class="text-muted">
        Этот пункт не запрещает, например, обучающие материалы.
      </small>
    </li>

    <li>
      Публиковать личные данные людей без их согласия.
      <br/>
      <small class="text-muted">
        Этот пункт не запрещает публикацию таких данных, если они общеизвестны.
      </small>
    </li>

    <li>
      Выдавать себя за сотрудников нашего проекта.
      <br/>
      <small class="text-muted">
        Запрещено не только выдавать себя за конкретных сотрудников (например,
        указанных на <%= link_to 'странице контактов', '/team.html' %>),
        но и за несуществующих сотрудников.
      </small>
    </li>

    <li>
      Эксплуатировать уязвимости в нашем программном обеспечении.
      <br/>
      <small class="text-muted">
        Уязвимости можно исследовать при условии, что нашим сервисам не будет
        нанесён вред, а об уязвимости вы сообщите
        <%= link_to 'нашим сотрудникам', '/team.html' %>.
      </small>
    </li>
  </ol>

  <h2>Правила сообщества</h2>

  <p class="lead">
    Данные правила распространяются только на наши официальные сообщества,
    размещаемые как на наших, так и на сторонних сервисах.
  </p>

  <p>
    Разрешено всё, кроме того, что запрещено правилами сервиса, а также
    следующего:
  </p>

  <ol>
    <li>Обсуждать правила в самих сообществах.</li>
    <li>Использовать нецензурную лексику.</li>
    <li>Обсуждать далёкие от тематики сообщества темы.</li>
    <li>Оскорблять участников сообщества.</li>
    <li>Публиковать однотипные, бессмысленные сообщения (спам, флуд).</li>
    <li>
      Публиковать свастику и другую запрещённую символику баз осуждающего
      комментария.
    </li>
  </ol>
</div>
